{% extends "base.html" %}
{% block page_content %}
  <h1>All Posts</h1>
  <hr>
  {% for post in posts %}
    <div class="container">
      <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title | title }}</a></h2>
      <small>
        Written:&nbsp;
        {{ post.created_on.date }} |&nbsp;
        {% for cat in post.categories.all %}
          <a href="{% url 'blog_category' cat.name %}">{{ cat.name | title }}</a>&nbsp;
        {% endfor %}
        <p>
          {{ post.body | slice:":400" }}...
        </p>
      </small>
    </div>
  {% endfor %}
{% endblock %}
